.banner {
	position: relative;
	z-index: 10;
	max-width: 100%;
	zoom: 1;
	height: 48px;
	line-height: 48px;
	padding-left: 25px;
	font-weight: 800;
}

.primary-colour {
	color: #252839;
	background: white;
}

.uk-tile-default {
	color: #2d333b;
	background: #fafaf8 !important;
}